<section
    class="bg-zinc-900 p-20 rounded-xl my-4"
>
    <h2
        class="text-5xl font-bold my-5"
    >Acerca de</h2>
    <p
        class="text-zinc-300 text-center"
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ratione culpa voluptates aliquam, nihil exercitationem in corporis, aliquid iure ad odio vitae fugit architecto sequi quis distinctio qui provident sit?</p>
</section>