---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Acerca de">
    <h1>Acerca de ...</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, maxime. Voluptatem quia dolorem omnis possimus rem ut, molestias reprehenderit delectus officiis, recusandae tenetur! Hic architecto quas nam voluptates minima. In ipsa molestias maiores? Tempora, porro. Minima, at neque nobis tenetur incidunt laudantium explicabo accusamus excepturi quas magni molestiae assumenda, quaerat nemo deserunt cumque adipisci placeat dolores fuga suscipit aliquam reiciendis delectus totam accusantium. Hic dolor repellendus veniam placeat nihil autem suscipit, obcaecati nulla ab aliquam velit dolorem quaerat distinctio illum beatae odio. Hic voluptas natus dolor in dolores? Repellat velit enim assumenda aperiam rerum beatae modi soluta, iste tempore temporibus.</p>

</Layout>