<footer class="bg-zinc-900  py-4 mt-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-4">
        <div>
            <h4 class="font-bold text-xl">Mapa del Sitio</h4>
            <a href="/">Página inicial</a>
            <a href="/about">Acerca de</a>
            <a href="/pricing">Precios</a>
        </div>
        <div>
            <h4 class="font-bold text-xl">Mapa del Sitio</h4>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>        
        </div>
        <div>
            <h4 class="font-bold text-xl">Redes Sociales</h4>
    
            <a href="/">Facebook</a>
            <a href="/">Instagram</a>
            <a href="/">Twitter</a>
            <a href="/">Tiktok</a>        
        </div>
    </div>
</footer>